h3 {
	margin: 35px 0 0 0;
}

form label,
form input,
form select {
	display: block !important;
}

form label {
	margin: 15px 0 5px 0;
}

form select,
form input[type=text],
form input[type=number],
form input[type=password] {
	height: 36px;
	width: 250px;
}

form#lista-ciudad-departamento label,
form#lista-ciudad-departamento input[type=radio] {
	display: inline-block !important;
}

img.loading-cities-admin {
	display: block;
  position: relative;
  top: -53px;
  left: 255px;
  opacity: .8;
  display: none;
}

 input[type=submit] {
	margin-top: 20px !important;
}

form img.success-img,
form img.error-img,
form img.load-img {
  top: -29px;
  left: 71px;
  position: relative;
  display: none;
}

form .messagge-template-error,
form .messagge-template-error,
form .messagge-template-error {
	color: red;
	font-size: 14px;
	font-style: italic;
	display: none;
}